@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

html {
  scroll-behavior: smooth;
}

body{
  margin: 0 auto;
  color: white;
  background-color: #070a17;
  font-family: Avenir-Light, Arial, Helvetica, sans-serif;

}

h2{
  font-size: 2em;
}

.container{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}
#mobilemenu{
  margin-right:20px;
  display:none;
  cursor: pointer;
}
.burger {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}
/* Rotate first bar */
.change .burger:first-of-type {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}
/* Fade out the second bar */
.change .burger:nth-of-type(2) {
  opacity: 0;
}
.change .burger:last-of-type {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}
.change #mobilemenu{
  width: 7px;
  height: 7px;
}

#header{
  position: fixed;
  background-color: #070a17;
  top: 0;
  width: 100%;
  padding: 0px ;
  margin:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
#header>img{
  margin: 10px;
  width: 70px;
}
#nav-bar>ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 300px;
  margin-top:50px;
}
.nav-link{
  display:block;
  text-decoration: none;
  color:white;
  font-size: 1em;
}
.nav-link:hover{
  color: rgba(255, 255, 255, .7);
}

#title{
  width: 100%;
  text-align: center;
  margin-top: 100px;
}
#title>img{
  width: 300px;
}
#title>.grid{
  display: flex;
  justify-content: center;
}
#title>.grid>h2{
  margin-top: 40px;
  margin-left: 5px;
  font-size: 3em;
}
#title>h3{
  margin-top:0;
}


#features, #exclusives{
  margin-top: 20px;
}

#companies{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.comp-image{
  width: 100px;
  padding: 20px;
}

#list-of-features, #list-of-exclusives{
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
}
#list-of-features{
  padding:0;
}
#list-of-features>li {
  text-align: left;
  display: flex;
  align-items: center;
}
#list-of-features>li>p{
  padding-left: 80px;
  width: 80%;
  font-size: 1.3em;
}
li> .fa{
  font-size: 2.6em;
}

#exclusives{
  text-align: center;
  margin-left: auto;
  margin-right:auto;
}
#list-of-exclusives{
  width: 80%;
}
#list-of-exclusives>li{
  padding-top: 40px;
  font-size: 1.3em;
  text-align: left;
}

#pricing{
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#exclusives>p{
  font-size: 1.2em;
  margin-left: auto;
  margin-right: auto;
}
#video{
  margin-left: auto;
  margin-right: auto;
}

#signUp{
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
}
#email{
  width: 200px;
}

#pricing> h2{
  margin-bottom: 40px;
}
#grid{
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 40px;
}
.listitem{
  border: 1px solid white;
/*   padding: 40px; */
  height: 330px;
  width: 300px;
}
.listitem:first-of-type{
  margin-right: 30px;
}
.listitem>h3{
  font-size: 2em;
  margin-bottom: 0;
  margin-top: 70px;
}
.listitem>p{
  font-size: 1.4em;
  margin-top: 10px;
}
.listitem>button{
  margin-top: 20px;
  border:2px solid white;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  height: 50px;
  width: 130px;
  background-color: #070a16;
  color: white;
  font-size: 1.1em;
  transition: all 1s;
}
.listitem>button:hover{
  height: 70px;
  width: 150px;
}

@media screen and (max-width: 600px){
  .container{
    width: 100%;
  }
  #nav-bar>ul{
    flex-direction:column;
    width:100%;
    margin-right: 10px;
    margin-top:0;
  }
  .nav-link{
    display:none;
  }
  #mobilemenu{
    margin-top:30px;
    display:block;
  }
  h2{
    1.1em;
  }
  #title>img{
    width: 270px;
  }
  #title>.grid>h2{
    margin-top: 30px;
    font-size: 2em;
  }
  #video{
    width: 70%;
    height: 200px;
  }
  #list-of-features, #list-of-exclusives{
    width: 85%;
    font-size:.9em;
  }
  #list-of-features>li>p{
    padding-inline-start: 30px;
    width: 100%;
  }
  #list-of-features>li>.fa{
    display:none;
  }
  #pricing> h2{
    margin-bottom: 20px;
  }
  #pricing>#grid{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .listitem{
    width: 70%;
    height: 160px;
  }
  .listitem:first-of-type{
    margin-bottom: 10px;
    margin-right: 0;
  }
  .listitem> h3{
    margin-top:9px;
    font-size: 1.5em;
  }
  .listitem> p{
    font-size: 1em;
  }
  .listitem>button{
    margin-top:0px;
    font-size: 1em;
  }
}
