@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

body{
  margin: 0 auto;
  color: white;
  background-color: #121b3d;
  font-family: lato, sans;
}

.container{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}
#mobilemenu{
  margin-right:20px;
  display:none;
  cursor: pointer;
}
.burger {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}
/* Rotate first bar */
.change .burger:first-of-type {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}
/* Fade out the second bar */
.change .burger:nth-of-type(2) {
  opacity: 0;
}
.change .burger:last-of-type {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}
.change #mobilemenu{
  width: 7px;
  height: 7px;
}

#header{
  position: fixed;
  background-color: #121b3d;
  top: 0;
  width: 100%;
  padding: 0px ;
  margin:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
#header>img{
  margin: 10px;
  width: 120px;
}
#nav-bar>ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 300px;
  margin-top:50px;
}
.nav-link{
  display:block;
  text-decoration: none;
  color:white;
  font-size: 1em;
}

#title{
  width: 100%;
  text-align: center;
  margin-top: 100px;
}
#title>img{
  width: 300px;
}
#title>.grid{
  display: flex;
  justify-content: center;
}
#title>.grid>h2{
  margin-top: 40px;
  margin-left: 5px;
  font-size: 3em;
}
#title>h3{
  margin-top:0;
}


#features{
  margin-bottom: 30px;
  margin-top: 20px;
}
#features>img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#list-of-features{
  list-style-type: none;
  font-size: 1.2em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#list-of-features>li{
  padding-top: 40px;
}

#exclusives, #pricing{
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#exclusives>p{
  font-size: 1.2em;
  margin-left: auto;
  margin-right: auto;
}
#video{
  margin-left: auto;
  margin-right: auto;
}

#signUp{
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
}
#email{
  width: 200px;
}

#pricing> h2{
  margin-bottom: 40px;
}
#grid{
  display: flex;
  align-content: center;
  justify-content: center;

  margin-bottom: 40px;

}
.listitem{
  border: 1px solid white;
  padding: 60px;
}
.listitem:first-of-type{
  margin-right: 30px;
}
.listitem>h3{
  font-size: 2em;
  margin-bottom: 0;
}
.listitem>p{
  font-size: 1.4em;
  margin-top: 10px;
}
.listitem>button{
  margin-top: 20px;
  border:2px solid white;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  height: 50px;
  width: 130px;
  background-color: #121b3d;
  color: white;
  font-size: 1.1em;
}

@media screen and (max-width: 600px){
  .container{
    width: 100%;
  }
  #nav-bar>ul{
    flex-direction:column;
    width:100%;
    margin-right: 10px;
    margin-top:0;
  }
  .nav-link{
    display:none;
  }
  #mobilemenu{
    margin-top:30px;
    display:block;
  }
  #title>.grid>img{
    width: 190px;
    height: 100px;
  }
  #title>.grid>h2{
    margin-top: 30px;
    font-size: 2em;
  }
  #video{
    width: 100%;
    height: 200px;
    width: 80%;
  }
  #list-of-features, #exclusives>p{
    width: 88%;
    font-size: 1em;
  }
  #pricing> h2{
    margin-bottom: 20px;
  }
  #pricing>#grid{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .listitem{
    width: 50%;
    height: 100px;
  }
  .listitem:first-of-type{
    margin-bottom: 10px;
    margin-right: 0;
  }
  .listitem> h3{
    margin-top:0;
    font-size: 1.5em;
  }
  .listitem> p{
    font-size: 1em;
  }
  .listitem>button{
    margin-top:10px;
    font-size: 1em;
  }
}
